
a{
    text-align: center;
    text-decoration: none;
    color: white;
}
body{
    color: white;
    display: block;
    background-image: linear-gradient(to right,rgb(150,147,225), rgb(150,54,71));
    text-align: justify;
}
body#index{
    display: block;
    background-image: linear-gradient(to right,rgb(150,147,225), rgb(150,54,71));
    text-align: justify;
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
    
}
img{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-indent: 50px;
}
p#voltar{
    text-indent: 50%;
}
ul{
    list-style-type: none;
}

main{
    display: block;
    text-align: center;
    padding: 30px;
    margin-top: 25px;
    background-image: linear-gradient(to right,rgb(0, 14, 8), rgba(49, 0, 245, 0.555));
}

/* menu horizontal */
nav#horizontal{
    display: block;
    width: 100%;
    height: 20px;
    margin-left: -25px;
    padding: 0;
    
    
}
nav#horizontal li{
    float: left;
    width: 20%;
    
}

nav#horizontal a{
    display: block;
    color: white;
    background-color: rgba(0, 0, 255, 0.555);
    text-align: center;
    height: 45px;
    overflow: hidden;
   
}
nav#horizontal a:hover{
    
    background-color: violet;


}
