*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    display: block;
    background-image: linear-gradient(to right,rgb(150,147,225), rgb(150,54,71));
    text-align: justify;
    
    
}
body#index{
    display: block;
    background-image: linear-gradient(to right,rgb(150,147,225), rgb(150,54,71));
    text-align: center;
}
h1{
    text-align: center;
    text-shadow: 5px 3px 3px black;
    
}

p#voltar{
    text-indent: 50%;
}

main{
    display: block;
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
}

/* menu horizontal */
nav#horizontal{
    position: relative;
    float: left;
    width: 100%;
    padding-top:7px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav#horizontal ul{
    width: 100%;
    padding-left: 0;
    list-style: none;
}

nav#horizontal li{
    background-color: rgba(0, 0, 0);
    display: block;
    float: left;
    width: 20%;
    list-style-type: none;
    transition-duration: 1s;
    position: relative;
    height: 25px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;   
}
nav#horizontal li a{
    color: white;
    font-size: 0.8rem; 
}
nav#horizontal ul li:hover,
nav#horizontal ul li:focus-within{
    display: block;
    cursor:pointer;
    background-color: blue;
}
nav#horizontal a:hover{
    color: rgb(255, 0, 0);
}

nav#horizontal li ul{
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position:absolute;
    transition: all 0.5s ease;
    margin-top: 0.65rem;
    left: 25%;
    display: none;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.5);
}
nav#horizontal li ul li{
    clear: both;
    width: 100%;
    position: relative;
    background-color: rgb(225, 0, 255);
    
    
}
/* contrla a exibição do dropdwn*/
nav#horizontal ul li:hover>ul,
nav#horizontal ul li :focus-within>ul,
nav#horizontal ul li:hover,
nav#horizontal ul li:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}




a{
    text-align: center;
    text-decoration: none;
    
}
